html {
  box-sizing: border-box;
  background-color: #cabdb2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Dosis", sans-serif;
}

body {
  color: #512200;
  font-family: Georgia, serif;
  line-height: 1.5;
}
